@page
@model Amardukan.Pages.Admin.Product.IndexModel
@{
}

@{
    ViewData["Title"] = "Product List";
}
<h1>Product List</h1>
<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>

</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Category</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
